body { /**sets the font family and aligns the text to the center and gives a background image **/
  font-family: sans-serif;
  text-align: center;
  background: url("./lamp.jpg");
}
/**button color, position, background is set, no border given, margin size, font size
choosen, overflow hidden so that users cant see the other button, transition takes
0.3 seconds to ease out **/
.button1 {
  color: black;
  position: relative;
  background-color: #e62c10;
  border: none;
  margin: 1rem;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s ease-out;
}
/** this sets the look of the button for when the cursor is over it, it sets
the position as well and the background color, it gives the transform origin
which is where the transistion starts**/
.button1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0880f0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: translateX(-20rem);
  transition: transform 0.5s;
}
/** sets the color of the text to white when cursor hovers, cursor also changed
to pointer and background made transparent**/
.button1:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.button1:hover:before {
  transform: translateX(0px);
}
.button2 {
  color: black;
  position: relative;
  background-color: #e62c10;
  border: none;
  margin: 1rem;
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s ease-out;
}
.button2:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #68042a;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top right;
  transform: translateX(-20rem);
  transition: transform 0.5s;
}
.button2:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.button2:hover:before {
  transform: translateX(0px);
}
/**flex container creates a grid for the elements inside
this one sets content to a row, items are stretched in the container **/
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
  padding: 20px;
}
footer { /**displays a flex row with padding that justifies its content to the center **/
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  padding: 20px;
}
/** sets the width of p1 to 100px**/
.contact, .faqs, .fb, .tw {
  width: 100px;
}
/**sets the h1 to a similar color of the logo and also changes the font only for the h1**/
h1 {
  color: white;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main { /**aligns the content to the center as well as pads it to the left and right **/
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
}
header,
footer { /**sets background colour for header and footer **/
  background-color: #e62c10;
}
.introduction{ /**sets font color **/
  color: white;
}
#accordion{ /**sets font colour **/
  color: white;
}
h3{ /**sets the cursor to be a pointer **/
  cursor: pointer;
}
